\#*#
.#*
*~
.DS_Store
.Trashes
build
Desktop.ini
Thumbs.db
tmp
bin/
msg_gen/
.project
.cproject
.pydevproject
cmake_install.cmake
msg_alpha/src/msg_alpha/
velocity_profiler_alpha/src/velocity_profiler/
velocity_profiler_alpha/src/velocity_profiler_alpha/
steering_alpha/src/steering_alpha/
steering_alpha/src/steering/