<launch>

<!--When launching on Jinx over ssh we may have to uncomment the line below
<machine name="jinx" address="192.168.0.150" default="true" />
-->

<!--Initialization of basic nodes, remember ROS does NOT guarantee the order in which nodes will be published -->
<include file"$(find cwru_nav /start_amcl_2ndfloor.launch" />
<include file"$(find cwru_teleop /start_teleop.launch" />
<node name="estopPublisher" pkg="eecs_376_alpha" type="estopPublisher" respawn="true" />
<node name="laser_listener" pkg="eecs_376_alpha" type="look_ahead" respawn="true" /> 
<node name="velocity_profiler" pkg="eecs_376_alpha" type="velocity_profiler" respawn="true"/>


</launch>
