<launch>

<!--When launching on Jinx over ssh we may have to uncomment the line below
<machine name="jinx" address="192.168.0.150" default="true" />
-->

<!--Include necessary premade launch files-->
<include file="$(find cwru_nav)/start_amcl_2ndfloor.launch" />
<include file="$(find cwru_semi_stable)/cwru_bringup_no_tele.launch" />
<!--<include file="home/jinx/ROSCode/cwru-ros-pkg/cwru_semi_stable/cwru_bringup_no_tele.launch" />-->

<!--Launch our nodes-->
<node name="estopPublisher" pkg="velocity_profiler_alpha" type="estopPublisher" respawn="true" />
<node name="laser_listener" pkg="look_ahead" type="look_ahead.py" respawn="true" />
<node name="velocity_profiler" pkg="velocity_profiler_alpha" type="main.py" respawn="true"/>
<node name="steering" pkg="steering_alpha" type="steering_example" respawn="true" />
<node name="pathpub" pkg="pathplanner_alpha" type="path_publisher" respawn="true" />
<node name="pospub" pkg="pos_publisher_alpha" type="main" respawn="true" />


</launch>
