<launch>

<!--When launching on Jinx over ssh we may have to uncomment the line below
<machine name="jinx" address="192.168.0.150" default="true" />
-->

<node name="estopPublisher" pkg="eecs_376_alpha" type="estopPublisher.cpp" respawn="true" />
<!--<node name="laser_listener" pkg="eecs_376_alpha" type="look_ahead.cpp" respawn="true" /> -->
<node name="velocity_profiler" pkg="eecs_376_alpha" type="velocity_profiler.cpp" respawn="true"/>


</launch>
