<!---->
<launch>

<!-- Image viewers.  To save an image, right-click on the window.  Images will be saved to the .ros directory by default
        <node pkg="image_view" type="image_view" name="depth_image_viewer" output="screen">
                <remap from="image" to="/camera/depth/image_rect"/>
        </node>
        
        <node pkg="image_view" type="image_view" name="rgb_image_viewer" output="screen">
                <remap from="image" to="/camera/rgb/image_rect_color"/>
        </node>-->


	<!-- Kinect driver -->
        <include file="$(find openni_launch)/launch/openni.launch" />


	<!-- Simple image subscriber/publisher -->
	<node pkg="kinect_alpha" type="strap_follower" name="strap_follower" output="screen" >	
		<remap from="in_image" to="/camera/rgb/image_rect_color"/>
		<param name="hl" type="int" value="0"/>
		<param name="hh" type="int" value="60"/>
		<param name="sl" type="int" value="90"/>
		<param name="sh" type="int" value="192"/>
		<param name="vl" type="int" value="164"/>
		<param name="vh" type="int" value="255"/>
		<param name="dilationIterations" type="int" value="5"/>
		<param name="zTolLow" type="double" value="-0.1"/>
		<param name="zTolHigh" type="double" value="0.1"/>
		<param name="numBins" type="int" value="10"/>
		<param name="sliceLength" type="int" value="5" />

		<remap from="in_image" to="/camera/rgb/image_rect_color" />
		<remap from="in_cam_info" to="/camera/rgb/camera_info" />
		<remap from="in_cloud" to="/camera/depth_registerd/points"/>
	</node>
	<!--<node pkg="kinect_alpha" type="main.py" name="kinect_py" />-->

	
	
        <!-- Static transform from Harlie's base to the pan mount -->
        <node pkg="tf" type="static_transform_publisher" name="kinect_static_tf_pub" respawn="true"
         args="0.0 0.0 1.12 0.0 .255 0.0 base_link camera_link 100" />
	

</launch>
