<launch>
	<!-- Our costmap node -->
	<node pkg="costmap_alpha" type="costmap_alpha" respawn="true" name="costmap_alpha" >
	      <rosparam file="costmap_alpha/costmap_common_params.yaml" command="load" ns="costmap_local"/>
	      <rosparam file="costmap_alpha/costmap_common_params.yaml" command="load" ns="costmap_global"/>
	      <rosparam file="costmap_alpha/costmap_local_sim_params.yaml" command="load" ns="costmap_local"/>
	      <rosparam file="costmap_alpha/costmap_global_params.yaml" command="load" ns="costmap_global"/>
	</node>
</launch>
